{% extends 'base.html.twig' %}

{% block content %}
    <h1>Article creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input class="btn btn-primary btn-lg btn-block" type="submit" value="Create" />
    {{ form_end(form) }}


            <a href="{{ path('admin_article_index') }}">Back to the list</a>

{% endblock %}
